# This file contains common pin mappings for the BIGTREETECH Manta M4P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

[board_pins btt_manta_m5p]
aliases:

    # 
    # STEPPERS
    # 

    # Motor 0
    MOT0_STEP_PIN = PC8,
    MOT0_DIR_PIN = PC9,
    MOT0_ENABLE_PIN = PA15,

    MOT0_UART_PIN = PD9,
    MOT0_CS_PIN = MOT0_UART_PIN,

    # Motor 1
    MOT1_STEP_PIN = PA10,
    MOT1_DIR_PIN = PA14,
    MOT1_ENABLE_PIN = PA13,

    MOT1_UART_PIN = PD8,
    MOT1_CS_PIN = MOT1_UART_PIN,

    # Motor 2
    MOT2_STEP_PIN = PC6,
    MOT2_DIR_PIN = PC7,
    MOT2_ENABLE_PIN = PA9,

    MOT2_UART_PIN = PB10,
    MOT2_CS_PIN = MOT2_UART_PIN,

    # Motor 3
    MOT3_STEP_PIN = PB12,
    MOT3_DIR_PIN = PB11,
    MOT3_ENABLE_PIN = PA8,

    MOT3_UART_PIN = PB2,
    MOT3_CS_PIN = MOT2_UART_PIN,

    # Motor 4
    MOT4_STEP_PIN = PB0,
    MOT4_DIR_PIN = PB1,
    MOT4_ENABLE_PIN = PC4,

    MOT4_UART_PIN = PA6,
    MOT4_CS_PIN = MOT2_UART_PIN,
 
    # 
    # STEPPERS SPI
    # 
    SPI_SW_MISO_PIN = PB14,
    SPI_SW_MOSI_PIN = PB15, 
    SPI_SW_SCK_PIN = PB13,
    SPI_SW_BUS_PIN = spi2,

    # 
    # END-STOPS
    # 
    MOT0_DIAG_PIN = PD3, # X
    MOT1_DIAG_PIN = PD2, # Y
    MOT2_DIAG_PIN = PC3, # Z
    MOT3_DIAG_PIN = PC2, # E0

    # 
    # Heaters
    # 
    HEATER_BED_PIN = PA5,  # Hotbed
    HEATER_0_PIN = PC5,    # Heater0
    HEATER_1_PIN = PA7,    # Heater1

    # 
    # Temperature Sensors
    # 
    TEMP_BED_PIN = PA0,   # TB
    TEMP_0_PIN = PA1,     # TH0
    TEMP_1_PIN = PA2,     # TH1

    # 
    # Fans
    # 
    FAN0_PIN = PA4,    # Fan0
    FAN1_PIN = PA3,    # Fan1
    FAN2_PIN = PD4,    # Fan2

    # 
    # Filament Runout Sensor
    # 
    FIL_RUNOUT0_PIN = MOT3_DIAG_PIN, # E0DET

    # 
    # PROBE
    # 
    PROBE_PIN = PC13,   # PROBE
    SERVO_PIN = PC15,    # SERVO

    # 
    # NeoPixel LED
    # 
    NEOPIXEL_PIN = PC11,     # NEOPIXEL 1
    NEOPIXEL1_PIN = PC14,    # NEOPIXEL 2

    # 
    # PORT SPI 
    # 

    # STM32
    # spi1 = PA6,PA7,PA5 
    # spi2 = PB14,PB15,PB13 
    # spi3 = PB4,PB5,PB3 
    # spi4 = PE13,PE14,PE12 
    # spi1a = PB4,PB5,PB3 
    # spi2a = PC2,PC3,PB10    STM32F0 || STM32F2 || STM32F4
    # spi3a = PC11,PC12,PC10  STM32F4
    # spi2b = PI2,PI3,PI1 

    # LPC176X
    # ssp0 =  P0.17,P0.18,P0.15 
    # ssp1 =  P0.8,P0.9,P0.7

    SPI2_MISO_PIN = PB14,
    SPI2_MOSI_PIN = PB15,
    SPI2_SCK_PIN = PB13,
    SPI2_CS_PIN = PC2,
    SPI_BUS_NAME = spi2,


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PD5, EXP1_3=PB3, EXP1_5=PB5, EXP1_7=PB7, EXP1_9=<GND>,
    EXP1_2=PD4, EXP1_4=PD6, EXP1_6=PB4, EXP1_8=PB6, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PB8, EXP2_5=PC10, EXP2_7=PC12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB9, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.