# This file contains common pin mappings for the BIGTREETECH Manta M4P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

[board_pins btt_manta_m4p]
aliases:

    # 
    # STEPPERS
    # 

    # Motor 0
    MOT0_STEP_PIN = PC6,
    MOT0_DIR_PIN = PA14,
    MOT0_ENABLE_PIN = PC7,

    MOT0_UART_PIN = PB12,
    MOT0_CS_PIN = MOT0_UART_PIN,

    # Motor 1
    MOT1_STEP_PIN = PB10,
    MOT1_DIR_PIN = PB2,
    MOT1_ENABLE_PIN = PB11,

    MOT1_UART_PIN = PC10,
    MOT1_CS_PIN = MOT1_UART_PIN,

    # Motor 2
    MOT2_STEP_PIN = PB0,
    MOT2_DIR_PIN = PC5,
    MOT2_ENABLE_PIN = PB1,

    MOT2_UART_PIN = PC9,
    MOT2_CS_PIN = MOT2_UART_PIN,

    # Motor 3
    MOT3_STEP_PIN = PB3,
    MOT3_DIR_PIN = PB4,
    MOT3_ENABLE_PIN = PD5,

    MOT3_UART_PIN = PA13,
    MOT3_CS_PIN = MOT2_UART_PIN,

    # STEPPERS SPI

    SPI_SW_MOSI_PIN = PA7, 
    SPI_SW_MISO_PIN = PA6,
    SPI_SW_SCK_PIN = PA5,
    SPI_SW_BUS_PIN = spi1,

    # 
    # END-STOPS
    # 
    MOT0_DIAG_PIN = PC0,
    MOT1_DIAG_PIN = PC1,
    MOT2_DIAG_PIN = PC2,
    MOT3_DIAG_PIN = PC15,

    # 
    # Heaters
    # 
    HEATER_BED_PIN = PD8,  # Hotbed
    HEATER_0_PIN = PC8,    # Heater0

    # 
    # Temperature Sensors
    # 
    TEMP_BED_PIN = PC4,   # TB
    TEMP_0_PIN = PA0,     # TH0

    # 
    # Fans
    # 
    FAN0_PIN = PD2,    # Fan0
    FAN1_PIN = PD3,    # Fan1
    FAN2_PIN = PD4,    # Fan2

    # 
    # Filament Runout Sensor
    # 
    FIL_RUNOUT0_PIN = MOT3_DIAG_PIN, # E0DET

    # 
    # PROBE
    # 

    PROBE_PIN = PC14,   # PROBE
    SERVO_PIN = PA1,    # SERVO

    # 
    # NeoPixel LED
    # 
    NEOPIXEL_PIN = PD0,     # NEOPIXEL 1
    NEOPIXEL1_PIN = PD1,    # NEOPIXEL 2

    # 
    # PORT SPI 
    # 

    # STM32
    # spi1 = PA6,PA7,PA5 
    # spi2 = PB14,PB15,PB13 
    # spi3 = PB4,PB5,PB3 
    # spi4 = PE13,PE14,PE12 
    # spi1a = PB4,PB5,PB3 
    # spi2a = PC2,PC3,PB10    STM32F0 || STM32F2 || STM32F4
    # spi3a = PC11,PC12,PC10  STM32F4
    # spi2b = PI2,PI3,PI1 

    SPI1_MISO_PIN = PA6,
    SPI1_MOSI_PIN = PA7,
    SPI1_SCK_PIN = PA5,
    SPI1_CS_PIN = PD9,
    SPI_BUS_NAME = spi1,

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases =
    # EXP1 header
    EXP1_1=PD6,  EXP1_3=PB9,  EXP1_5=PA15, EXP1_7=PA9,   EXP1_9=<GND>,
    EXP1_2=PB8,  EXP1_4=PC3,  EXP1_6=PA10, EXP1_8=PB5,   EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PC11, EXP2_5=PC12, EXP2_7=PC13,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PA8,  EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>