# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.

[board_pins btt_manta_e3ez]
aliases:

    # 
    # STEPPERS
    # 

    # Motor 0
    MOT0_STEP_PIN = PA14
    MOT0_DIR_PIN = PA10
    MOT0_ENABLE_PIN = PA13

    MOT0_UART_PIN = PB8
    MOT0_CS_PIN = MOT0_UART_PIN

    # Motor 1
    MOT1_STEP_PIN = PC8
    MOT1_DIR_PIN = PA15
    MOT1_ENABLE_PIN = PC14

    MOT1_UART_PIN = PC9
    MOT1_CS_PIN = MOT1_UART_PIN

    # Motor 2
    MOT2_STEP_PIN = PD2
    MOT2_DIR_PIN = PD4
    MOT2_ENABLE_PIN = PD3

    MOT2_UART_PIN = PD0
    MOT2_CS_PIN = MOT2_UART_PIN

    # Motor 3
    MOT3_STEP_PIN = PD5
    MOT3_DIR_PIN = PD6
    MOT3_ENABLE_PIN = PB3

    MOT3_UART_PIN = PD1
    MOT3_CS_PIN = MOT2_UART_PIN

    # Motor 4
    MOT4_STEP_PIN = PB7
    MOT4_DIR_PIN = PB6
    MOT4_ENABLE_PIN = PB4

    MOT4_UART_PIN = PB5
    MOT4_CS_PIN = MOT2_UART_PIN

    # STEPPERS SPI

    SPI_SW_MOSI_PIN = PC12, 
    SPI_SW_MISO_PIN = PC11,
    SPI_SW_SCK_PIN = PC10,
    SPI_SW_BUS_PIN = spi3a,

    # 
    # END-STOPS
    # 
    MOT0_DIAG_PIN = PC4, # X
    MOT1_DIAG_PIN = PB0, # Y
    MOT2_DIAG_PIN = PC6, # Z
    MOT3_DIAG_PIN = PC5, # E0
    MOT4_DIAG_PIN = PB1, # E1

    # 
    # Heaters
    # 
    HEATER_BED_PIN = PB2,  # Hotbed
    HEATER_0_PIN = PB11,    # Heater0
    HEATER_1_PIN = PB10,    # Heater1

    # 
    # Temperature Sensors
    # 
    TEMP_BED_PIN = PA3,   # TB
    TEMP_0_PIN = PA4,     # TH0
    TEMP_1_PIN = PA5,     # TH1

    # 
    # Fans
    # 
    FAN0_PIN = PA8,    # Fan0
    FAN1_PIN = PB15,   # Fan1
    FAN2_PIN = PB14,   # Fan2

    # 
    # Filament Runout Sensor
    # 
    FIL_RUNOUT0_PIN = MOT3_DIAG_PIN, # E0
    FIL_RUNOUT1_PIN = MOT4_DIAG_PIN, # E1

    # 
    # PROBE
    # 

    PROBE_PIN = PA6,   # PROBE
    SERVO_PIN = PA7,   # SERVO

    # 
    # NeoPixel LED
    # 
    NEOPIXEL_PIN = PC7,     # NEOPIXEL 1

    # 
    # PORT SPI 
    # 

    # STM32
    # spi1 = PA6,PA7,PA5 
    # spi2 = PB14,PB15,PB13 
    # spi3 = PB4,PB5,PB3 
    # spi4 = PE13,PE14,PE12 
    # spi1a = PB4,PB5,PB3 
    # spi2a = PC2,PC3,PB10    STM32F0 || STM32F2 || STM32F4
    # spi3a = PC11,PC12,PC10  STM32F4
    # spi2b = PI2,PI3,PI1 

    # LPC176X
    # ssp0 =  P0.17,P0.18,P0.15 
    # ssp1 =  P0.8,P0.9,P0.7

    SPI3_MISO_PIN = PC11,
    SPI3_MOSI_PIN = PC12,
    SPI3_SCK_PIN = PC10,
    SPI3_CS_PIN = PC15,
    SPI_BUS_NAME = spi3a,

    # 
    # PORT SERIAL RASPI 
    # 
    PORT_SERIAL_RX_PIN = PA10,
    PORT_SERIAL_TX_PIN = PA9,

    PORT_SERIAL_RX1_PIN = PD8,
    PORT_SERIAL_TX1_PIN = PD9,

    # 
    # Power Supply Control
    # 

    PS_ON_PIN = PA9, # PS-ON

    # 
    # Power Loss Detection
    # 
    POWER_LOSS_PIN = PB9, # PWRDET

########################################
# EXP1 pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>