######################################################################
#                           CAMBIAR FILAMENTO
######################################################################
#   M600
#   M601
#   CHANGE_FILAMENT
#   LOAD_FILAMENT
#   UNLOAD_FILAMENT
######################################################################

[gcode_macro M600]
gcode:  
   CHANGE_FILAMENT

[gcode_macro M601]
gcode:
   PAUSE
   
[gcode_macro CHANGE_FILAMENT]
gcode:
    PAUSE
    UNLOAD_FILAMENT
    BEEP R=3

[gcode_macro LOAD_FILAMENT]
gcode: |
    #{% if (not(printer.idle_timeout.state == "Printing") or printer.pause_resume.is_paused) %}
    {% if printer.extruder.can_extrude|lower == 'true' %}   ; se comprueba que se pueda extruir para cargar el filamento
        {% set vg = printer["gcode_macro VAR_GLOBALS"] %}
        SAVE_GCODE_STATE NAME=LOAD_state
        S
        NOTIFY TEXT="Cargando filamento..."
        M83                                        ; activar extrusion relativa
        {% for r in range(vg.fil_num_repeats) %}   ; repite la carga de filamento x veces
            G1 E{vg.fil_length} F{fil_speed}       ; se carga filamento x veces para evitar el limite de longitud
        {% endfor %}
        G1 E-{vg.retract_length} F{retract_speed}  ; retrae el fimalento (indicado o configurado por firmware)
        NOTIFY TEXT="Filamento cargado." CLEAR=1

        RESTORE_GCODE_STATE NAME=LOAD_state
   {% else %}
      NOTIFY TEXT="Temperatura baja, imposible cargar el filamento."
   {% endif %}

[gcode_macro UNLOAD_FILAMENT]
gcode:
    #{% if (not(printer.idle_timeout.state == "Printing") or printer.pause_resume.is_paused) %}
    {% if printer.extruder.can_extrude|lower == 'true' %} ; se comprueba que se pueda extruir para descargar el filamento
        {% set vg = printer["gcode_macro VAR_GLOBALS"] %}
        SAVE_GCODE_STATE NAME=UNLOAD_state

        NOTIFY TEXT="Descargando filamento..."
        M83                                             ; activar extrusion relativa
        G1 E{vg.fil_length_purge} F{vg.fil_purge_speed} ; purga rapida
        G1 E-{vg.retract_length} F{retract_speed}       ; retrae el fimalento (indicado o configurado por firmware)
        SLEEP MS=1000                                   ; esperamos a que enfrie un poco el filamento
        G1 E-{vg.fil_length/5} F{fil_speed}             ; se descarga el filamento lentamente para evitar atascos
        {% for r in range(vg.fil_num_repeats) %}        ; repite la descarga de filamento x veces
            G1 E-{vg.fil_length} F{fil_fast_speed}      ; se descarga filamento x veces para evitar el limite de longitud
        {% endfor %}

        NOTIFY TEXT="Filamento descargado." CLEAR=1
        RESTORE_GCODE_STATE NAME=UNLOAD_state
    {% else %}
        NOTIFY TEXT="Temperatura baja, imposible retraer el filamento."
    {% endif %}
